body {
    background-color: #f8f9fa;
    justify-content: space-around;

}

.container {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    /* font-family: Protest Strike; */
    color: #a0191c;
    text-decoration: dotted;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    margin-bottom: 20px;
    /* border:black solid 0.5px; */
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
select,
input[type="file"] {
    margin-bottom: 10px;
}

.btn-primary,
.btn-outline-primary {
    margin-right: 10px;
    border-radius: 10px;
}
.btn-primary {
    background-color: #af0202; /* Set background color to red */
    border: #af0202;
}


.btn-primary:hover {
    background-color: #af0202; /* Set background color to red */
    color: white; /* Set text color to white */
    outline: #d93737; /* Set outline color */
    border: #af0202;
}


.form-check-input {
    margin-top: 5px;
}

#prevBox {
    border: 1px solid #ddd;
    border-radius: 2px;
}