@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

  
/* ===========================================================================*/
*{
    margin: 0;
    font-family: 'Merriweather', serif; /* Apply Merriweather font to all elements */
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
}

a{
    text-decoration: none;
    /* color:#ffffff ; */
}

.navbar{
    width:100vw;
    height:8vh;
    background-color: #af0202;
    color:white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}
#navLeft{
    margin-left: -3vw;
    display: flex;
    width: 45vw;
    justify-content: left;
    padding-left: 4vw;
    font-weight: bold;
}
#navRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    right: 0px;
    width: 45vw;
    font-weight: bold;
}
#navCenter{
    width: 10vw;
    height: 5vh;
}
#navLogo{
    flex-wrap: wrap;
    align-items: center;
    height: 5vw;
}
.button{
    margin: 1vw;
    margin-inline: 3vw;
}
a{
    color: white;
}
.sec1{
    height: 32vw;
    background-color: #af0202;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#sec1left{
    width: 65vw;
    padding: 5vw;
    padding-left: 8vw;
}
#quote{
    width: 40vw;
}
#sec1right{
    margin-top: 1.5vw;
}
#handpic{
    width: 35vw;
    justify-content: right;
}


.sec2{
    display: flex;
    background-color: #faf9eb;
    flex-wrap: wrap;
    justify-content: center;
}
.left2{
    padding: 5vw;
    padding-left: 8vw;
    width: 70vw;
    flex-grow: 1;
    min-width: 540px;
    justify-content: center;
}
.right2{
    padding: 5vw 0 5vw 0vw;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#BDC{
    height: 15vw;
}
#callender{
    height: 5vh;
}
#date {
    font-size:xx-large;
    font-weight: bolder;
    color: black;
}
#location {
    font-size:xx-large;
    font-weight: bolder;
    color: black;
}
.img2{
    width: 100vw;
    height: auto;
    background-image: url(../Assets/landing/Donate_pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    background-color: #faf9eb;
    padding: 50px;
}
.sec4{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.MVR{
    height: 400px;
    margin: 60px;
}
.right3{
    max-width: 750px;
    font-size: 22px;
    line-height: 25px;
    margin-inline: 50px;
    margin-top: 30px;
}
.img1{
    height: 400px;
    margin: 20px 60px;
}
.our{
    display: flex;
    padding-top: 20px;
    width: 300px;
    margin-left: 40vw;
}
.btn1{
    background-color: #af0202;
    justify-content: center;
    margin: 2vw 2vw 0 2vw;
    border: 1px solid #000000;
    padding: 10px;
    color: #ffffff;
    width: 8vw;
    text-align: center;
    font-weight: 600;
}

footer{
    background: #858473;
    padding-top: 50px;
    position: relative;
}
.container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center; /* Center items vertically */
}
.footer-content{
    width: 100%;
    margin-bottom: 20px;
}
h3{
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p, .footer-content ul{
    text-align: center;
    color: white;
}
.list li{
    list-style-type:none;
    padding: 7px;
    position: relative;
    margin-bottom: 5px;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 14px;
    padding: 7px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .footer-content {
        width: 33.33%;
    }
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust the width of the logo as needed */
    margin-top: -30px; /* Adjust the margin-top to position it */
}