*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.secl1{
    height: 35vw;
    background-color: #af0202;
    width: 100vw;
}
::-webkit-scrollbar {
    width: 0px; 
}
.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#logo1{
    height:19vw;
    margin-top: 6vw;
}
#btn2{
    margin: 2vw 2vw 0 0;
    border: 3px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    width: 8vw;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;

}
#btn1{
    margin: 2vw 2vw 0 0;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    width: 8vw;
    text-align: center;
    font-weight: 600;
}
.card{
    height: 30vh;
    background-color: #faf9eb;
    width:20vw;
}
.secl2{
    background-color: #faf9eb;
}

 /* Custom CSS */
 .btn-login {
    background-color: #f8d7da; /* Light red color */
    border-color: #f8d7da; /* Light red color */
    color: #721c24; /* Dark red color */
    font-size: 0.8rem; /* Reduced font size */
    padding: 0.2rem 0.5rem; /* Reduced padding */
}

.btn-login:hover {
    background-color: #f8d7da !important;
    border-color: #f8d7da !important;
    color: #721c24 !important;
}

.btn-submit {
    background-color: #8b0000 !important; /* Blood-red color */
    border-color: #8b0000 !important; /* Blood-red color */
    color: white !important; /* White text color */
}

.btn-submit:hover {
    background-color: #610000 !important; /* Darker blood-red color on hover */
    border-color: #610000 !important; /* Darker blood-red color on hover */
}


.sec2{
    display: flex;
    background-color: #faf9eb;
    flex-wrap: wrap;
    justify-content: center;
}
.left2{
    padding: 5vw;
    padding-left: 8vw;
    width: 70vw;
    flex-grow: 1;
    min-width: 540px;
    justify-content: center;
}
.right2{
    padding: 5vw 0 5vw 0vw;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#BDC{
    height: 15vw;
}
#callender{
    height: 5vh;
}
#date {
    font-size:xx-large;
    font-weight: bolder;
    color: black;
}
#location {
    font-size:xx-large;
    font-weight: bolder;
    color: black;
}
.img2{
    width: 100vw;
    height: auto;
    background-image: url(../Assets/landing/Donate_pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    background-color: #faf9eb;
    padding: 50px;
}
.sec4{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.MVR{
    height: 400px;
    margin: 60px;
}
.right3{
    max-width: 750px;
    font-size: 22px;
    line-height: 25px;
    margin-inline: 50px;
    margin-top: 30px;
}
.img1{
    height: 400px;
    margin: 20px 60px;
}
.our{
    display: flex;
    padding-top: 20px;
    width: 300px;
    margin-left: 40vw;
}
.btn1{
    background-color: #af0202;
    justify-content: center;
    margin: 2vw 2vw 0 2vw;
    border: 1px solid #000000;
    padding: 10px;
    color: #ffffff;
    width: 8vw;
    text-align: center;
    font-weight: 600;
}

footer{
    background: #858473;
    padding-top: 50px;
    position: relative;
}
.container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center; /* Center items vertically */
}
.footer-content{
    width: 100%;
    margin-bottom: 20px;
}
h3{
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p, .footer-content ul{
    text-align: center;
    color: white;
}
.list li{
    list-style-type:none;
    padding: 7px;
    position: relative;
    margin-bottom: 5px;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
.a1{
    text-decoration: none;
    color: white;
}
.a1:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 14px;
    padding: 7px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .footer-content {
        width: 33.33%;
    }
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust the width of the logo as needed */
    margin-top: -30px; /* Adjust the margin-top to position it */
}